In [3]:
import numpy as np

In [2]:
df = pd.read_excel('train_test_data.xlsx')
df.head()

    Case      Filename    Set     Class
0  chb01  chb01_03.edf  Train  Preictal
1  chb01  chb01_04.edf  Train  Preictal
2  chb01  chb01_15.edf  Train  Preictal
3  chb01  chb01_16.edf   Test  Preictal
4  chb01  chb01_18.edf   Test  Preictal